@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #000510;
  font-family: "Poppins", sans-serif;
}

.scene {
  height: 500px;
}

.dummy {
  height: 90px;
}

.infoBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.infoBox h1 {
  font-weight: bold;
  letter-spacing: 1.5px;
  line-height: 2.2rem;
}

.infoBox h6 {
  opacity: 0.5;
  line-height: 25px;
}

.buttons {
  display: flex;
}

html *,
html *:before,
html *:after {
  box-sizing: border-box;
  transition: 0.1s ease-in-out;
}
 

.contact section{ 
  border-radius: 18px;
  max-width: 800px;   
  margin: 45px 11px 170px 11px;
  padding: 70px 0px;
  background: rgba(211, 202, 221, 0.072);
  box-shadow: 2px 2px 14px rgb(0, 0, 0);
}

@media screen and (min-width:801px){
  .contact section{
    margin: 25px auto;
    margin-bottom: 150px;
  }
}