* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #010302;
  min-height: 100vh;
} 

nav{ 
  margin-top: 8px;
}

nav .mob{
  border: 1px solid wheat;
  margin-top: 5px;
  display: none;
}

nav .mob a{
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 10px 0px;
  padding: 5px 0px;
}
 
nav .links{ 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  border: 1px solid white;
  padding: 12px 5px;
}

nav .links div{
  border: 1px solid rebeccapurple;
} 

nav .links div a{
  text-decoration: none; 
  margin: 0px 2px; 
  padding: 5px 15px;
  border-radius: 12px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.2352); 
}
 
nav .links .ham{
  color: white;
  border: 1px salmon solid; 
  padding: 5px 15px;
  display: none;
} 

.hide{
  display: none;
}

.show{
  display: '';
}

@media only screen and (max-width:950px){
  nav .links .second #optns{ 
    display: none;
  } 
  nav .links .ham{
    display: block;
  }
}














