@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.services {
  padding: 80px 0px;
  border-radius: 6px 8px;
  z-index: 14;
  background: rgba(255, 255, 255, 0.037);
  box-shadow: 2px 2px 14px rgb(0, 0, 0);
  margin-bottom: 40px; 
}

.services h1 {
  text-align: center;
}

.services h1::after{
  content: '';
  display: block;
  position: relative;
  width: 250px;
  height: 2px;
  background: rgb(6, 61, 191);
  margin: 14px auto;
}

.services .optns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  margin: 70px 14px 0px 14px;
}

.services .optns .post {
  max-width: 360px;
  border-radius: 7.5px;
  margin: 15px;
  background: rgba(255, 255, 255, 0.041);
}

@media screen and (max-width: 600px) {
  .services .optns .post { 
    margin: 20px 0px; 
  }
}

.services .optns .post p {
  opacity: 0.5;
}

.services .optns .post .logo {
  border: 6px solid rgb(5, 119, 150);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 17px;
}
