*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.aboutDummy{
    height: 140px;
}

.about{  
    z-index: 3;
    margin-bottom: 150px;
} 

.about .img{
    position: relative;    
}

.about img{ 
    position: absolute;
    border-radius: 12px;
    opacity: 0.5;
    max-width: 80%;
}

.about .one{ 
    position: absolute;
}

.about .two{
    max-width: 60%;
    left: 42%;
    top: 30%;
    opacity: 1;
    border-radius: 25px; 
} 
 

.about .info h6{ 
    padding-top: 14px;
}

.info p{
    opacity: 0.4;
    font-size: 16px;
} 

.about .info h5{
    border: 1px solid rgb(155, 150, 150);
    transition: all ease-in-out 0.2s;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}

.about .info h5:hover{
    background: white; 
    font-weight: bold;
} 
 
.about .info h6 i{
    border: 1px solid rgb(172, 166, 166);
    opacity: 0.5;
    display: inline-block;
    font-size: small;
    margin: 4px 4px 4px 0px;
    padding: 4px 10px;
    border-radius: 5px;
    transition: all linear 0.2s;
}

.about .info h6 i:hover{
    cursor: pointer;
    font-weight: large;
    opacity: 1;
}

.about .info h5 a{
    text-decoration: none;
}

.about .info h5 a i{
    margin: 0px auto; 
    display: block;
    margin-bottom: 5.5px;
    font-size: x-large;
    text-align: center;
}


@media screen and (max-width:1200px){
    .about .info h5{
        height: 70px;
        width: 70px;
        font-size: x-small;
        margin-right: 4px;
    }
    .about .info h6{ 
        padding-top: 2px;
    }  
}
 
@media screen and (max-width:991px){
    .about .block{
        padding-bottom: 25%;
    }
}
 
.contact label,
.contact  input,
.contact  textarea {
    display: block;
    width: 100%;
}
.contact ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact li {
    padding: 0.3em;
}
.contact span {
    font-weight: 700;
    color: #102a43;
    line-height: 35px;
    line-height: 2.5rem;
    font-size: 12px;
    font-size: 0.8rem;
    text-transform: uppercase;
}
.contact .submit {
    background: #fc4366;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 1.3em;
}
 
.contact  form {
    background-color: #ffffff;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    overflow: hidden;
}

.contact .required-star {
    color: #fc4366;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 9px 20px;
    border: 1px solid #e1e2eb;
    background-color: #fff;
    color: #102a43;
    caret-color: #829ab1;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 1rem;
    line-height: 29px;
    line-height: 2rem;
    box-shadow: inset 0 2px 4px 0 rgba(206, 209, 224, 0.2);
    border-radius: 3px;
    line-height: 29px;
    line-height: 2rem;
}
.contact {
    max-width: 460px; 
    margin: 5em auto;
    background: #000517;
}



.balls{
    margin: 10px;
    
}
#ball{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: #E8E8E8;
    border-radius: 50%;
    
}
#ball1{
    width:50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    animation: ball1 1.7s infinite ease ;
    
}
#ball2{
    width:50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    animation: ball1 1.7s infinite ease .1s;
}
#ball3{
    width:50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    animation: ball1 1.7s infinite ease .2s;
}
@keyframes ball1{
    0%{
        margin-top: 0px;
    }
    10%{
        margin-top: -50px;
    }
    20%{
        margin-top: 0px;
    }
    100%{
        margin-top: 0px;
    }
}
@keyframes ball2{
    
}
@keyframes ball3{
    
}