*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 

.cbox{
    border: 1px solid white;
}



.cbox .msgForm{
    border: 1px solid rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
}



.cbox .msgForm form{
    max-width: 500px;
    display: block;
    margin: 2px solid rgb(198, 26, 26);
}